body {
  background-image: url("space_background.jpg");
  margin: 20px auto 0;
  padding: 0 20px;
  background-size: contain;
  width: 80%;
  color: white;
}

header nav ul {
  list-style: none;
  padding: 0;
}

ul {
  position: absolute;
  top: -450px;
  transition: 2s;
}

li {
  margin: 13px 20px;
  color: white;
}

div.menu {
  width: 40px;
  height: 5px;
  margin-top: 5px;
  margin-left: 20px;
  background-color: white;
}

.wrapper {
  float: left;
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100px;
  height: 200px;
}

.hoverBar:hover .items {
  transition: 2s;
  top: -20px;
}

img {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
 }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}
