body {
  background-image: url("space_background.jpg");
  margin: 20px auto 0;
  padding: 0 20px;
}

header nav ul {
  list-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

header nav li {
  display: inline-block;
  padding-left: 160px;
  padding-right: 160px;
  text-decoration: none;
}

header nav li:hover {
  text-decoration: none;
  color: rgb(179, 240, 137);
}

div {
  background-color: grey;
  opacity: 0.4;
}

header {
  color: rgb(179, 240, 137);
}

img {
  width: 650px;
  position: absolute;
  top: 150px;
  left: 300px;
}
